// Breakpoints
$xsmall: 360px;     // Small phone
$small: 640px;      // Phone
$medium: 768px;     // Tablet Horizontal (1024px - iPad)
$large: 1024px;     // Tablet Vertically (1024px - iPad)
$full: 1280px;      // Laptop (1280px - Macbook)
$xlarge: 1450px;    // Desktop
$huge: 1650px;